<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="naver-site-verification" content="e7df74e9e6304bc511de24444dca93f9b88b6c93" />
    <link rel="canonical" href="https://locally.co.kr">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var d = window.document;
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
  ChannelIO('boot', {
    "pluginKey": "f7857e70-eedc-46d4-85aa-298b219e583b"
  });
</script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/blogList.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontStyle.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/LDC.png' %}">
    <title>로컬디깅클럽</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZKMHPNNZK"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'G-3ZKMHPNNZK');

</script>

</head>

<body>




 <div class="container column blog-base">


     <p class="mt-5"></p>

    <p class="divided">
        <span class="title">로컬디깅클럽</span>
        <span class="divider"></span>
        <img class="logo rotate" src="{% static 'images/SVG_LDC.svg' %}">
    </p>




<div class="md-5">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

<div class="carousel-inner" role="listbox"  >
{% for blog in blogs %}

    {% if forloop.counter == 1 %}
    <div class="carousel-item active " style="cursor:pointer"
       onclick="location.href='{% url 'blogDetail' blog.id %}' ">
    {% else %}
    <div class="carousel-item" style="cursor:pointer"
       onclick="location.href='{% url 'blogDetail' blog.id %}' ">
    {% endif %}
        <img src="{{ blog.image.url }}" alt="Image">
  <div class=" carousel-caption bg-white" >
      <div class="brand-title">
    <h3 >{{ blog.brand }}</h3>
          </div>
      <div class="brand-location">
    <p>{{ blog.location }}</p>
          </div>
  </div>
    </div>
    {% endfor %}
</div>
    <!-- Left and right controls -->
   <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>

      </div>

</div>
 </div>

<p class="mt-5"></p>


 <!--
 <div class="container text-right">
  <div class="edit-page" >
    <a href="{% url 'createBlog' %}">
    <img src="{%static 'images/edit.png' %}">
        </a>

    </div>
   </div>
   -->





<!--
   <main role="main" class="container text-center">
       {% for blog in posts %}
       <hr>
       <div>
          <p><a class="blog-title" href="{% url 'blogDetail' blog.id %}" role="button">{{blog.title}}</a></p>

       </div>
        {% endfor %}

   <nav>
        <ul class="pagination">
       {% if posts.has_previous %}
        <li class="page-item">
            <a href="?page={{ posts.previous_page_number}}"><</a>
            </li>
         {% else %}
        <li class="page-item disabled">
                        <a class="page-link" href="#"><</a>
        </li>
        {% endif %}

           <span>{{ posts.number}}/{{ posts.paginator.num_pages }}</span>


        {% if posts.has_next %}
         <li>
          <a href="?page={{posts.next_page_number}}">></a>
        </li>
        {% else %}
        <li class="page-item disabled">
                        <a class="page-link" href="#">></a>
                    </li>
                    {% endif %}


            </ul>
        </nav>


   </main>

 -->
 <div id="blog-posts" class="container text-center">
     {% for blog in posts %}
     <hr>
     <div>
         <p><a class="blog-title" href="{% url 'blogDetail' blog.id %}" role="button">{{blog.title}}</a></p>

     </div>
     {% endfor %}
 </div>





<div class="container text-center paginator">
    <nav id="pagination">
        <ul class="pagination justify-content-center pagination-sm">
            {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ posts.previous_page_number }}"><</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a>
            </li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
              {% if posts.number == i %}
               <li class="page-item active">
                 <a class="page-link" href="{{ request.path }}?page={{i}}">{{i}}</a>
               </li>
              {% else %}
              <li class="page-item">
                  <a class="page-link" href="{{ request.path }}?page={{i}}">{{i}}</a>
              </li>
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ posts.next_page_number }}">></a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">></a>
            </li>
            {% endif %}
        </ul>
    </nav>


    <div id="bottom-area">

        <div class="bottom-img">

      <a href="https://www.instagram.com/mylocaldisk/"><img src="{% static 'images/instagram.png' %}"></a>

        </div>

        <div class="bottom-word">
        <p>COPYRIGHT 2021, Local Digging Club And Station Lab</p>
            </div>



    </div>


</div>






<script type="text/javascript">
     function ajaxPagination() {
       $('#pagination a.page-link').each((index, el) => {
         $(el).click((e) => {
            e.preventDefault()
            let page_url = $(el).attr('href')

            $.ajax({
                url: page_url,
                type: 'GET',
                success: (data) => {
                   $('#blog-posts').empty()
                   $('#blog-posts').append( $(data).filter('#blog-posts').html() )
                   $('#pagination').empty()
                   $('#pagination').append( $(data).find('#pagination').html() )

                   }
                })
           })
      })
    }

    $(document).ready( function() {
       ajaxPagination()
       })
    $(document).ajaxStop( function() {
       ajaxPagination()

       })

</script>









</body>
</html>