<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="{% static 'css/blogDetail.css' %}">
    <title>{{ blog_detail.title }}</title>
</head>
<body>

 <div class="container column text-center">
     <h1>{{ blog_detail.title}}</h1>
     <p>{{ blog_detail.pub_date}}</p>
     <p>{{ blog_detail.body | safe}}</p>


 </div>



</body>
</html>