<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/blogList.css' %}">
    <title>골목 브랜드 목록</title>
</head>

<body>




 <div class="container column">

     <p class="mt-5"></p>

   <p class="title">로컬디킹클럽</p>



<div class="md-5">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

<div class="carousel-inner" role="listbox">
{% for banner in banners %}

    {% if forloop.counter == 1 %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
        <img src="{{ banner.image.url }}" alt="Image" width="100%" height="556px">
  <div class="carousel-caption bg-white" >
    <h3>{{ banner.title }}</h3>
    <p>{{ banner.location }}</p>
  </div>
    </div>
    {% endfor %}
</div>
    <!-- Left and right controls -->
   <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>

      </div>

</div>
 </div>


 <p class="mt-5"></p>



 {% for blog in blogs %}
   <main role="main" class="container text-center">
       <hr>
       <div>

          <a class="blog-title" href="{% url 'blogDetail' blog.id %}" role="button">{{blog.title}}</a>


       </div>
   </main>
 {% endfor %}



 <a href="{% url 'createBlog' %}">글쓰기</a>
 <a href="{% url 'createBanner' %}">배너생성</a>







</body>
</html>