<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/blogList.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontStyle.css' %}">
    <title>골목 브랜드 목록</title>

</head>

<body>




 <div class="container column blog-base">


     <p class="mt-5"></p>

   <p class="title">로컬디깅클럽</p>

<div class="md-5">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

<div class="carousel-inner" role="listbox"  >
{% for blog in blogs %}

    {% if forloop.counter == 1 %}
    <div class="carousel-item active " style="cursor:pointer"
       onclick="location.href='{% url 'blogDetail' blog.id %}' ">
    {% else %}
    <div class="carousel-item" style="cursor:pointer"
       onclick="location.href='{% url 'blogDetail' blog.id %}' ">
    {% endif %}
        <img src="{{ blog.image.url }}" alt="Image" width="100%" height="556px">
  <div class=" carousel-caption bg-white" >
      <div class="brand-title">
    <h3 >{{ blog.brand }}</h3>
          </div>
      <div class="brand-location">
    <p>{{ blog.location }}</p>
          </div>
  </div>
    </div>
    {% endfor %}
</div>
    <!-- Left and right controls -->
   <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>

      </div>

</div>
 </div>

<p class="mt-5"></p>

 <div class="container text-right">
  <div class="edit-page" >
    <a href="{% url 'createBlog' %}">
    <img width="25px" height="25px" src="{%static 'images/edit.png' %}">
        </a>

    </div>
   </div>






   <main role="main" class="container text-center">
       {% for blog in posts %}
       <hr>
       <div>
          <p><a class="blog-title" href="{% url 'blogDetail' blog.id %}" role="button">{{blog.title}}</a></p>

       </div>
        {% endfor %}

    <div class="paginator">
       {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number}}"><</a>
         {% endif %}

           <span>{{ posts.number}}/{{ posts.paginator.num_pages }}</span>


           {% if posts.has_next %}
          <a href="?page={{posts.next_page_number}}">></a>
             {% endif %}

        </div>



   </main>
































</body>
</html>