<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1" >

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="{% static 'css/detail.css' %}">
     <link rel="stylesheet" href="{% static 'css/fontStyle.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/LDC.png' %}">
    <title>{{ blog_detail.title }}</title>
</head>
<body oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>

<div class="container head">

    <div class="head-title-div">
       <!-- <p onclick="history.go(-1)" role="button">목록으로</p> -->
        <p><a class="head-title" href="{% url 'blogList' %}">목록으로</a></p>
    </div>

    <div class="logo-div">

        <p><a class="logo" href="{% url 'blogList' %}">Local Digging Club </a></p>


    </div>

    <div class="head-link-div">
  <p><a class="head-link" href="{{ blog_detail.instagram }}">인스타그램</a></p>
    </div>
</div>


 <div class="container column text-center blog-base">
     <div class="blog-brand">

     <h1>{{ blog_detail.brand}}</h1>
     <p>{{ blog_detail.location}}</p>

         <hr class="vertical-line">


     </div>

     <div class="blog-head ">

        <h2 >{{ blog_detail.head | linebreaks }}</h2>


     </div>

     <div class="blog-main ">
     <p>{{ blog_detail.body | safe }}</p>
         </div>




 </div>





</body>
</html>