
.blog-title {

font-size: 24px;
color:black
}

.blog-title:hover {
color: #868e96;
text-decoration: none;
}





.carousel-caption {
   position: relative;
   top:0;
   left:0;
   right:0;

}


.carousel-caption h3 {
   color: black;

   font-size: 50px;


}

.carousel-caption p {
   color: black;

  font-size: 20px;

}

.mt-5 {
display:inline-block


}



.container .title {
  display: flex;
  flex-direction: row;

  font-size: 60px;


}

.container .title:after{
  /*
  display: block;
  float: right;
  margin-top: 1em;
  border-top: 2px solid silver;
  width: 60%; */


  content: "";
  flex: 1 1  ;
  margin: auto;
  border-bottom: 1px solid;

}

 hr {
   border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333

 }

 .carousel-item:hover h3{

color: #868e96;


}

.blog-base{

padding-left: 7%;
padding-right: 7%;


}

.brand-title {
  padding-top:5px;
}






