 .head{
display:flex;
justify-content:space-between;
}

.head .head-title-div{
font-size: 24px;

}

.head .head-title-div:hover{
color: #868e96;

}

.head .head-link{
font-size: 24px;
color: black;
}

.head .head-link:hover{
color: #8e44ad;
text-decoration: none;
}

.container .blog-brand h1 {

font-size: 56px;
}

.container .blog-brand p{
font-size: 24px;
height: 50px
}

.vertical-line {
    margin-left: 50%
    margin-right: 50%;
    margin-top: 6%;
    margin-bottom:6%;
    height: 340px;
    width: 1px;
    background-color: black;

}

.head-title-div {
padding-top: 10%;
}

.head-link-div{
padding-top: 10%;
}

.blog-main{
text-align: left;
font-size: 24px;

}

.blog-head{
padding-bottom: 10%;


}

.blog-head h2 {


font-size: 60px;

}

.blog-base{
padding-left: 7%;
padding-right: 7%;

}

.blog-main img{
display: block; margin: 0px auto;

}

.blog-main iframe{

display: block; margin: 0px auto;

}





