 .head{
display:flex;
justify-content:space-between;
}

.head .head-title-div{
font-weight: 600;
font-size: 28px;

}

.head .head-title-div:hover{
color: orange;

}

.head .head-link{
font-weight: 600;
font-size: 28px;
color: black;
}

.head .head-link:hover{
color:orange;
text-decoration: none;
}

.container .blog-head h1 {
font-weight: 600;
font-size: 64px;
}
.container .blog-head p{
font-weight: 600;
font-size: 28px;
height: 50px
}

.vertical-line {
    margin-left: 50%
    margin-right: 50%;
    margin-top: 3%;
    margin-bottom:3%;
    height: 340px;
    width: 1px;
    background-color: black;

}

.head-title-div {
padding-top: 10%;
}

.head-link-div{
padding-top: 10%;
}

.blog-main{
text-align:justify
}




