@font-face{
  font-family: 'Eulyoo';
  src: url('/static/fonts/Eulyoo.woff') format('woff');


}

body{

 font-family: 'Eulyoo';
 font-weight: normal;


}

@font-face{
 font-family: 'LeagueSpartan';
 src: url('/static/fonts/LeagueSpartan.woff') format('woff');


}

.logo {
 font-family: 'LeagueSpartan';

}